.info {
  @include flex();
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-basis: 40%;
  text-align: left;
  min-width: 30%;
  max-width: 90%;
  max-height: 72vh;
  z-index: 2;
  gap: 15px;
  h1 {
    font-size: 2rem;
    color: $veryDarkDesaturatedViolet;
   
  }
  p {
    color: $darkGrayishViolet;
  }
}
@media (max-width: 600px) {

  .info{
   h1{
    align-self: center;
    }
   p{
    text-align: center;
   }
  
  }

}