@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --veryDarkGray: hsl(0, 0%, 17%);
  --darkGray: hsl(0, 0%, 59%);
}
body {
  font-family: "Rubik", sans-serif;
  color: var(--veryDarkGray) !important;
  font-size: 18px !important;
}
.header {
  background: url("./images/pattern-bg.png") no-repeat center center/cover;
  position: relative;
  max-height: 45vh;
}
.inputField input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
button {
  height: 58px;
  border-radius: 0 !important;
  border-top-right-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
  border: none !important;
}
.results {
  border-radius: 20px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  width: 75%;
  position: relative;
  transform: translateY(50%);
  z-index: 1;
}

.results h5 {
  font-size: 0.9rem !important;
  color: var(--darkGray);
  text-transform: uppercase;
}

#map {
  height: calc(100vh - 240px);
  position: relative;
  z-index: 0;
}

.attribution {
  position: fixed;
  bottom: 0;
  font-size: 12px;
  color: #0078a8;
}
.attribution a {
  text-decoration: none;
  color: #0078a8;
}
button.remove{
  border-radius: 10px !important;
  width: 150px !important;
  font-size: 15px !important;
  height: 40px !important;
}
.ip{
  font-weight: 600;
}
.swal2-confirm ,button.swal2-cancel{
  border-radius: 15px !important;
  width: 130px !important;
}
button.swal2-cancel{
  margin-right: 10px;
}
@media (max-width: 986px) {
  .results div {
    border: none !important;
    padding: 0 !important;
    text-align: center !important;
  }
  .header {
    max-height: 35vh;
  }
  .results {
    flex-direction: column !important;
    transform: translateY(20%);
  }
}
@media (max-width: 767px) {
  .results div {
    border: none !important;
    text-align: center !important;
  }
  .header {
    max-height: 40vh;
  }
  h1 {
    padding-bottom: 5% !important;
  }
  .results {
    flex-direction: column !important;
    transform: translateY(8%);
  }
  .attribution{
    width: 33%;
    text-align: center;
    
  }
}

